@charset 'utf-8';

// - - - - - - - - - - - - - - - -
// Application Styles (Site Wide) 
// - - - - - - - - - - - - - - - -
$spinkit-size: 38px !default;
$spinkit-spinner-margin: 50px auto !default;
$spinkit-spinner-color: #1779ba !default;
